
@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>
<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movies" name="movies" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="selectedMovies" class="list-group"></ul>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
    <script>
        var vm = {       
            movieIds: []
        };
        var customers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                //url: '/api/customer/%QUERY',
                url: '/api/customer?query=%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('#customer').typeahead({
            minlength: 3,
            highlight: true
        }, {
            name: 'customers',
            display: 'name',
            source: customers
        }).on("typeahead:select", function (e, customer) {
            vm.customerId = customer.id;

        });
        var movies = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/movie?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        $('#movies').typeahead({
            minlength: 3,
            highlight: true
        }, {
            name: 'movies',
            display: 'name',
            source: movies
        }).on("typeahead:select", function (e, movie) {
            $("#selectedMovies").append("<li class='list-group-item'>" + movie.name + "</li>");
            $("#movies").typeahead("val", "");
            vm.movieIds.push(movie.id);
        });
        $.validator.addMethod("validCustomer", function () {
            return vm.customerId && vm.customerId != 0},
            "Please select valid customer");
        $.validator.addMethod("atLeastOneMovie", function () {
            return vm.movieIds.length > 0;},
            "Please choose at least one movie");
      var validator =  $("#newRental").validate({
            rules: {
                "customer": {
                    required: true,
                    validCustomer : true
                },
                "movies": {
                    atLeastOneMovie : true
                }
            },
            submitHandler: function(e){              
                $.ajax({
                    url: "/api/newrental",
                    method: "POST",
                    data: vm                  
                }).done(function () {
                    toastr.success("New Rental is recorded successfully");
                    $("#customer").typeahead("val", "");
                    $("#movies").typeahead("val", "");
                    $("#selectedMovies").empty();
                    vm = {
                        movieIds: []
                    };
                    validator.resetForm();
                   
                }).fail(function () {
                    toastr.error("Something unexpected happend");
                });
                return false;            
            }
        });

    </script>

}