@model IEnumerable<Vidly.Models.MovieModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@if(Model.Count() == 0)
{
    <text>No Movie to show</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genere</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Detail","Movie",new {id= movie.Id },null)</td>
                    <td>@movie.Genere.Name</td>
                </tr>

            }
            
        </tbody>
    </table>

}


